@use "abstracts/typography";

$font-size-1: 1rem;
$font-size-2: 1.3rem;
$font-size-3: 2rem;
$primary-color-1: #18374c;
$primary-color-2: #feb9c9;
$halcom: halcom, sans-serif;
$font-feruka: Feruka, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .header {
    display: none;
  }
  .main {
    display: none;
  }
  .info {
    font-family: halcom, sans-serif;
    font-size: $font-size-2;
    display: flex;
    width: 100vw;
    height: 100vw;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: $primary-color-2;
    color: $primary-color-1;
  }
}

@media (max-width: 900px) {
  .info {
    display: none;
  }
  .header {
    width: 100vw;
    height: auto;
    background-color: $primary-color-1;
    &__nav,
    .nav {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr;
      &__hamburger {
        display: grid;
        grid-column: 3/3;
        grid-row: 1/1;
        height: 4rem;
        width: auto;

        //margin: 3vw;
        margin: 2vw;
        justify-self: center;
      }
      &__logo {
        display: grid;
        grid-column: 1/1;
        grid-row: 1/1;
        height: 4rem;
        width: auto;
        //margin: 3vw;
        margin: 2vw;
        justify-self: center;
        align-self: center;
      }
    }
  }
  .main {
    background-color: $primary-color-2;
    font-family: $halcom;
    overflow: hidden;
    width: 100vw;
    font-family: $halcom;

    &__main-div,
    .main-div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      &__image {
        width: 100vw;
        height: auto;
        grid-column: 1/1;
        grid-row: 1/1;
        z-index: 0;
        object-fit: contain;
      }
      &__logo {
        width: 50vw;
        grid-column: 1/1;
        grid-row: 1/1;
        z-index: 10;
        position: absolute;
        margin-top: 18vw;
        margin-left: 4vw;
      }
    }
    &__text {
      display: grid;
      grid-column: 1/1;
      grid-row: 1/1;
      margin: 5vw 10vw 5vw 10vw;
      font-size: $font-size-2;
      color: $primary-color-1;
      text-align: center;
      text-justify: center;
      align-items: center;
      align-self: center;
      &--special {
        text-decoration-line: line-through;
        color: aqua;
      }
    }

    &__input,
    .input {
      text-align: center;
      max-width: 100vw;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: $primary-color-1;
      &__title {
        font-family: $font-feruka;
        color: $primary-color-2;
        margin: 10vw 2vw 2vw 2vw;
        font-size: $font-size-3;
      }
      &__name {
        margin: 2vw 10vw 2vw 10vw;
        border: none;
        padding: 2vw;
        border-bottom: dashed $primary-color-2 1px;

        background-color: transparent;
        text-align: center;
      }
      &__surname {
        margin: 2vw 10vw 2vw 10vw;
        border: none;
        padding: 2vw;
        border-bottom: dashed $primary-color-2 1px;

        background-color: transparent;
        text-align: center;
      }
      &__email {
        margin: 2vw 10vw 2vw 10vw;
        border: none;
        padding: 2vw;
        border-bottom: dashed $primary-color-2 1px;

        background-color: transparent;
        text-align: center;
      }
      &__date-label {
        margin: 2vw;
        color: $primary-color-2;
      }
      &__date {
        margin: 2vw 10vw 2vw 10vw;
        border: none;
        padding: 2vw;
        background-color: #da93a4;
        color: $primary-color-2;
        text-align: center;
      }

      &__button {
        border: 0.5rem solid $primary-color-2;
        width: 80vw;
        margin: 7vw 10vw 10vw 10vw;
        padding: 2vw;
        background-color: $primary-color-1;
        color: $primary-color-2;
        font-family: $font-feruka;
        font-size: $font-size-2;
      }
    }
  }
}
.conditions {
  margin: 5vw 0 0 0;
  &__condition1,
  .condition1 {
    display: flex;
    margin: 2vw 10vw 2vw 10vw;
    flex-direction: row;
    color: $primary-color-2;

    &__label {
      color: $primary-color-2;
      border: $primary-color-2;
      height: 25px;
      width: 25px;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 2s linear;
    }
    &__check {
      + .condition1__label {
        color: $primary-color-2;
        background-color: transparent;
        border: $primary-color-2 4px solid;
        height: 20px;
        width: 20px;
        border-radius: 1rem;
        cursor: pointer;
        z-index: 2;
        margin: 0 5vw 0 0;
        transition: all 2s linear;
      }
    }
    &__check:checked {
      + .condition1__label {
        background-color: $primary-color-2;
        height: 20px;
        width: 20px;
        border-radius: 1rem;
        cursor: pointer;
        z-index: 2;
        margin: 0 5vw 0 0;
        transition: all 1s linear;
      }
    }
    &__check {
      opacity: 0%;
      position: absolute;
      z-index: 5;
      width: 30px;
      height: 30px;
      margin: 0 5vw 0 0;
    }

    &__text {
      color: $primary-color-2;
      width: 60vw;
    }
  }
  &__condition2,
  .condition2 {
    margin: 2vw 10vw 2vw 10vw;
    color: $primary-color-2;
    display: flex;
    flex-direction: row;

    &__label {
      color: $primary-color-2;
      border: $primary-color-2;
      height: 25px;
      width: 25px;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 2s linear;
    }
    &__check {
      opacity: 0%;
      position: absolute;
      z-index: 5;
      width: 30px;
      height: 30px;
      margin: 0 5vw 0 0;
    }

    &__check:checked {
      + .condition2__label {
        background-color: $primary-color-2;
        height: 20px;
        width: 20px;
        border-radius: 1rem;
        cursor: pointer;
        z-index: 2;
        margin: 0 5vw 0 0;
        transition: all 1s linear;
      }
    }

    &__check {
      + .condition2__label {
        background-color: transparent;
        border: $primary-color-2 4px solid;
        height: 20px;
        width: 20px;
        border-radius: 1rem;
        cursor: pointer;
        z-index: 2;
        margin: 0 2vw 0 0;
        transition: all 1s linear;
      }
    }

    &__text {
      color: $primary-color-2;
      width: 60vw;
    }
  }
}
.gender {
  margin: 2vw 0 2vw 0;
  position: relative;
  display: flex;
  justify-content: center;
  &__male-container {
    display: flex;
    //transform-origin: 50% 0%;
    color: aqua;
    //border: 4px red solid;
    width: 100vw;
    justify-content: flex-start;
    transform: translateX(60vw);
    align-items: center;
    align-self: center;
    position: absolute;
    height: 7vw;
  }
  &__female-container {
    display: flex;
    //transform-origin: 50% 0%;
    color: aqua;
    //border: 4px red solid;
    width: 100vw;
    justify-content: flex-end;
    transform: translateX(-60vw);
    align-items: center;
    align-self: center;
    position: absolute;
    height: 7vw;
  }

  &__captions {
    width: 100vw;
  }
  &__text {
    color: $primary-color-2;
    display: flex;

    // &--female {

    //     position: absolute;
    //     display: flex;
    //     //margin-left: 50vw;

    //     transform-origin: 100% 0%;
    //     transform: translateX(50vw);

    // }
  }

  &__label {
    opacity: 1;
    height: 20px;
    width: 50px;
  }
  &__toggle {
    opacity: 0.5;
    width: 20vw;
    height: 10vw;
    position: absolute;
  }
  &__toggle {
    opacity: 0.5;
    width: 20vw;
    height: 10vw;
    position: absolute;
    + .gender__label {
      border: $primary-color-2 0.5rem solid;
      height: 7vw;
      width: 15vw;
      position: absolute;
      display: flex;
    }
  }
  &__toggle:checked {
    + .gender__label {
      background-color: $primary-color-2;
      height: 7vw;
      width: 15vw;
      position: absolute;
      display: flex;
      border-radius: 15px;
      opacity: 0.5;
    }
  }
}
