$primary-color-1: #18374c;
$primary-color-1: #325156;
$primary-color-2: #e9b6a9;
$primary-color-2: #c1e8dc;
// $primary-color-2: #feb9c9;
$secondary-color-1: #d0d0d0;
$secondary-color-2: #90a9b9;
$secondary-color-2: #a76f62;
$secondary-color-2: #759095;
$secondary-orange: #f06c4c;
$secondary-color-darker: #476578;
